/**
 * Created by Yoav Rosenbaum 304953128 and Nogah Goldberg 302365713.
 */
 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

/* ----------------------------- */
/* ------- Login Page ---------- */
/* ----------------------------- */

/* Bordered form */
.login-form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button {
    background-color: #00d8ff;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width: 86px;
    float: right;
}

.login-button:focus{
  outline: none;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.7;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    margin-top: 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.login-area{
  margin: auto;
  /*width: 80%;*/
  /*border: 3px solid green;*/
  padding: 10px;
}

.login-form{
  border: none;
}

.login-label{
  /*font-family: monospace;*/
  font-size: 17px;
}

/* ----------------------------- */
/* ----------- Navbar ---------- */
/* ----------------------------- */

.navbar{
  background-color: black;
  color: #aaa;
  font-weight: 400;
  font-size: 18px;
  padding: 14px 20px;
}

.todo-icon{
  font-size: 20px;
  padding-right: 10px;
}

.logout-button{
  background-color: black;
  color: #00d8ff;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 39px;
  top: 15px;
  font-size: 18px;
}

.logout-button:focus{
  outline: none;
}

.navbar-header{
  display: inline-block;
  position: relative;
  top: 3px;
}

/* ----------------------------- */
/* ------- TODO General --- ---- */
/* ----------------------------- */

.todo-list{
  margin-right: 0 !important;
  margin-left: 0 !important;
  font-size: 20px;
}

.todo-list-container{
  background-color: black;
  padding: 2px;
  margin-bottom: 15px;
}

.todo-button{
  cursor: pointer;
  padding: 10px;
}

.todo-button:focus{
  outline: none;
}

.add-todo-item{
  width: 50%;
  padding: 5px !important;
  font-size: 15px !important;
}

.add-todo-div{
  padding-bottom: 7px;
}

.add-todo-list-title{
  font-size: 20px;
}

/* ----------------------------- */
/* ------- Search TODO  --- ---- */
/* ----------------------------- */

.search-div{
  margin-bottom: 47px;
}

.search-todo-item{
  border: 1px solid #ccc;
  padding: 12px 20px;
  margin: 8px 0;
  position: absolute;
  top: 64px;

}
